# зависимости
node_modules/

# nuxt build / dev
.nuxt/
.output/
dist/
.cache/

# IDE
.idea/
.vscode/

# ОС-мусор
.DS_Store

# env-файлы с секретами
.env
.env.*
!.env.example

# логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
